<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Syn Studio | Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="../lib/css/jquery.bxslider.css" type="text/css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
    <link rel="stylesheet" href="../lib/css/style.css" type="text/css" />
    <link rel="stylesheet" href="../lib/css/style.responsive.css" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- HEADER -->
    <div class="off-canvas-menu-wrap">
        <a class="close-button" id="close-button" href="#">Close Menu</a>
        <ul class="menu off-canvas-menu">
            <li><a href="concept-art.html">Home</a></li>
            <li><a href="concept-art-diploma.html">Concept Art Diploma</a></li>
            <li><a href="about-synstudio.html">About Syn Studio</a></li>
            <li><a href="student-showcase.html">Showcase</a></li>
            <li><a href="syn-studio-experience.html">Experience Syn Studio</a></li>
            <li><a href="concept-art-diploma-admission.html">Admission process dates and tuition</a></li>
        </ul>
    </div>
    <div class="nav-site">
        <ul class="menu toggle-menu-btn" id="open-button">
            <li>
                <a href="#">
                    <ul class="toggle-menu-icon">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul> Menu</a>
            </li>
        </ul>
        <ul class="menu nav-menu">
            <li><a href="concept-art.html">Home</a></li>
            <li><a href="concept-art-diploma.html">Concept Art Diploma</a></li>
            <li><a href="about-synstudio.html">About Syn Studio</a></li>
            <li><a href="student-showcase.html">Showcase</a></li>
            <li><a href="syn-studio-experience.html">Experience Syn Studio</a></li>
            <li><a href="concept-art-diploma-admission.html">Admission process dates and tuition</a></li>
        </ul>
    </div>
    <div class="header-container" id="section-header-ca">
        <div class="synstudio-logo">
            <img src="images/layer_1.png" alt="Syn Studio Logo" />
            <p class="synstudio-logo-text-fr">École d'art</p>
            <p class="synstudio-logo-text-en">Art school</p>
        </div>
        <div class="nav-social hidden-xs hidden-sm">
            <ul class="menu social-links-menu text-right">
                <li>
                    <a class="social-media-icons" href="https://www.facebook.com/SynStudio/"><img src="images/fb-social-icon-white.png" alt="" /></a>
                </li>
                <li>
                    <a class="social-media-icons" href="https://twitter.com/synstudio"><img src="images/twitter-social-icon-white.png" alt="" /></a>
                </li>
                <li>
                    <a class="social-media-icons" href="http://pinterest.com/synstudio"><img src="images/pintrest-social-icon-white.png" alt="" /></a>
                </li>
            </ul>
        </div>
        <div class="nav-social hidden-md hidden-lg">
            <ul class="menu social-links-menu-dark text-right">
                <li>
                    <a class="social-media-icons" href="https://www.facebook.com/SynStudio/"><img src="images/fb-social-icon-black.png" alt="" /></a>
                </li>
                <li>
                    <a class="social-media-icons" href="https://twitter.com/synstudio"><img src="images/twitter-social-icon-black.png" alt="" /></a>
                </li>
                <li>
                    <a class="social-media-icons" href="http://pinterest.com/synstudio"><img src="images/pintrest-social-icon-black.png" alt="" /></a>
                </li>
            </ul>
        </div>
        <h1 class="header-title shadow-text-dark orange-text"><small class="white-text">You want to be a</small><br />Concept Artist</h1>
    </div>
    <!-- end HEADER -->
    <!-- MAIN CONTENT -->
    <div class="main-content-container">
        <div class="container-fluid section-highlight" id="section-highlight1">
            <div class="row">
                <div class="ellipse-overlay hidden-xs hidden-sm">
                    <!--<div class="ellipse-shape1"></div>-->
                    <!--<div class="ellipse-shape2"></div>-->
                    <div class="ellipse-shape3"></div>
                    <div class="ellipse-shape4"></div>
                    <div class="ellipse-shape5"></div>
                </div>
                <h3 class="white-text shadow-text-grey">But it’s very competitive <br />and are you good enough?</h3>
                <h3 class="highlight1-text">
                        <small>
                            Only the most skilled make it as<br />
                            concept artists. You need serious training<br class="hidden-xs hidden-sm"/>
                            from the <strong>best in the industry.</strong><br /><br />
                        </small>
                    </h3>
                <p class="art-credit">Art: Bruno Gauthier Leblanc</p>
            </div>
        </div>
        <div class="container-fluid section-highlight snow-background-color">
            <div class="row">
                <div class="bx-wrapper-row">
                    <ul class="bxslider">
                        <li class="slide"><img src="images/01_Jeong_H_Shin.png" alt="shin" title="Jeong H. Shin"></li>
                        <li class="slide"><img src="images/07_Remko_Troost.png" alt="remko" title="Remko Troost"></li>
                        <li class="slide"><img src="images/02_Daniel_Kvasznicza.png" alt="daniel" title="Daniel Kvasznicza"></li>
                        <li class="slide"><img src="images/04_Donglu_Yu.png" alt="donglu" title="Donglu Yu"></li>
                        <li class="slide"><img src="images/05_Frédéric_Bennett.png" alt="bennet" title="Frédéric Bennett"></li>
                        <li class="slide"><img src="images/12_Frédéric_St-Arnaud.png" alt="Frédéric St-Arnaud" title="Frédéric St-Arnaud"></li>
                        <li class="slide"><img src="images/10_Christian_Robert_de_Massy.png" alt="Christian Robert de Massy" title="Christian Robert de Massy"></li>
                        <li class="slide"><img src="images/14_Charles_Vinh.png" alt="Charles Vinh" title="Charles Vinh"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid section-highlight" id="section-highlight2">
            <div class="row">
                <h3>
                    <span class="fancy-quotations">" </span>
                    We all want our art to be the perfect translation of the visions in our minds. We want the<br />
                    ability to create images that exhibit our true potential. But, we all need to ask ourselves,<br />
                    What can I do to take my skills to the highest level?<span class="fancy-quotations"> "</span>
                </h3>
                <br />
                <br />
            </div>
            <div class="row">
                <div class="bx-wrapper-row2">
                    <ul class="scrollable-text bxslider-sliding-text">
                        <li>
                            <p>You can seek out a true master artist and take lessons from them.</p>
                        </li>
                        <li>
                            <p>You can surround yourself with like-minded artists on the path to mastery.</p>
                        </li>
                        <li>
                            <p>You can learn the latest techniques from the top artists working in the industry.</p>
                        </li>
                        <li>
                            <p>You can get honest feedback on your work from a professional so you can:</p>
                        </li>
                        <li>
                            <p>Solve the problems you’re struggling with.</p>
                        </li>
                        <li>
                            <p>Identify and correct the issues you may have overlooked.</p>
                        </li>
                    </ul>
                </div>
                <br />
                <br />
            </div>
        </div>
        <div class="container-fluid section-highlight" id="section-highlight3">
            <div class="row">
                <p>
                    Then <strong>you<br />
                        can build</strong>
                    <br /> an amazing
                    <br />
                    <strong>portfolio</strong>
                    <br /> and
                    <br /> hopefully
                    <br />
                    <strong>get hired</strong>
                </p>
            </div>
        </div>
        <div class="container-fluid section-highlight" id="section-highlight4">
            <div class="row">
                <h3><strong>And what if a great<br />portfolio isn't enough?</strong></h3>
                <br />
                <p>
                    You <strong>need to be</strong> where <strong>the action is </strong>in one of the
                    <br class="hidden-xs hidden-sm" /> entertainment
                    <strong> capitals of the world.</strong>
                    <br />
                    <br />
                </p>
            </div>
        </div>
        <div class="container-fluid section-highlight white-text shadow-text-dark" id="section-highlight5">
            <div class="row">
                <p>
                    Montreal
                    <br /><small class="white-text shadow-text-dark">Canada</small>
                </p>
            </div>
        </div>
        <div class="container-fluid section-highlight" id="section-highlight6">
            <div class="row hidden-overflow-section">
                <!--View in medium to large screen-->
                <p class="shadow-text-dark hidden-xs hidden-sm hidden-md camera-text">
                    Some films
                    <br /> and games
                    <br /> made here
                </p>
                <ul class="background-camera hidden-xs hidden-sm hidden-md">
                    <li class="margin-10px hidden-md"><img class="background-camera-img hidden-xl" src="http://synstudio.ca/wp-content/themes/synStudio4/images/layer_40_copy_5.png" alt=""></li>
                    <li class="margin-10px visible-xl"><img class="background-camera-img visible-xl" src="http://synstudio.ca/wp-content/themes/synStudio4/images/layer_40_copy_3.png" alt=""></li>
                    <li class="margin-10px"><img class="background-camera-img" src="http://synstudio.ca/wp-content/themes/synStudio4/images/layer_40_copy_4.png" alt=""></li>
                    <li>
                        <div class="camera-container clearfix">
                            <div class="camera-overlay">
                                <img src="images/layer_109.png" alt="" />
                            </div>
                            <div class="bx-wrapper-row3 bxslider-camera-roll clearfix">
                                <ul class="bxslider-camera">
                                    <li><img src="images/00_Tomb_Raider.jpg" title="Square Enix" alt=""></li>
                                    <li><img src="images/16_X_Men_Days_of_Future_Past.jpg" title="20th Century Fox" alt=""></li>
                                    <li><img src="images/03_Mass_Effects_3.jpg" title="Electronics Arts" alt=""></li>
                                    <li><img src="images/07_For_Honor.jpg" title="Ubisoft" alt=""></li>
                                    <li><img src="images/04_Terminator_Genisys.jpg" title="Paramount Pictures" alt=""></li>
                                    <li><img src="images/12_Far_Cry_4.jpg" title="Ubisoft" alt=""></li>
                                    <li><img src="images/18_300.jpg" title="Warner Bros. Picture" alt=""></li>
                                    <li><img src="images/01_Dragon_Age_Origins.jpg" title="Electronics Arts" alt=""></li>
                                    <li><img src="images/05_Deus_Ex_Mankind_Divided.jpg" title="Square Enix" alt=""></li>
                                    <li><img src="images/06_Deus_Ex_Mankind_Divided.jpg" title="Square Enix" alt=""></li>
                                    <li><img src="images/08_Sin_City.jpg" title="Dimension Films" alt=""></li>
                                    <li><img src="images/10_Batman_Arkham_Origins.jpg" title="Warner Bros. Interactive Entertainment" alt=""></li>
                                    <li><img src="images/15_Assassins_Creed_3.jpg" title="Ubisoft" alt=""></li>
                                    <li><img src="images/09_Fantastic_Four.jpg" title="20th Century Fox" alt=""></li>
                                    <li><img src="images/02_Watch_Dogs.jpg" title="Ubisoft" alt=""></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="margin-10px"><img class="background-camera-img" src="images/layer_40_copy_5.png" alt=""></li>
                    <li class="margin-10px"><img class="background-camera-img" src="http://synstudio.ca/wp-content/themes/synStudio4/images/layer_40_copy_3.png" alt=""></li>
                    <li class="margin-10px"><img class="background-camera-img" src="http://synstudio.ca/wp-content/themes/synStudio4/images/layer_40_copy_4.png" alt=""></li>
                    <li class="margin-10px"><img class="background-camera-img" src="images/layer_40_copy_5.png" alt=""></li>
                </ul>
                <!--View in small screen -->
                <div class="camera-container-small hidden-lg clearfix">
                    <h2>Some films and games made here</h2>
                    <br />
                    <img class="camera-overlay-small clearfix" src="images/layer_109.png" alt="" />
                    <div class="bx-wrapper-row4 bxslider-camera-roll-small clearfix">
                        <ul class="bxslider-camera2">
                            <li><img src="images/00_Tomb_Raider.jpg" title="Square Enix" alt=""></li>
                            <li><img src="images/16_X_Men_Days_of_Future_Past.jpg" title="20th Century Fox" alt=""></li>
                            <li><img src="images/03_Mass_Effects_3.jpg" title="Electronics Arts" alt=""></li>
                            <li><img src="images/07_For_Honor.jpg" title="Ubisoft" alt=""></li>
                            <li><img src="images/04_Terminator_Genisys.jpg" title="Paramount Pictures" alt=""></li>
                            <li><img src="images/12_Far_Cry_4.jpg" title="Ubisoft" alt=""></li>
                            <li><img src="images/18_300.jpg" title="Warner Bros. Picture" alt=""></li>
                            <li><img src="images/01_Dragon_Age_Origins.jpg" title="Electronics Arts" alt=""></li>
                            <li><img src="images/05_Deus_Ex_Mankind_Divided.jpg" title="Square Enix" alt=""></li>
                            <li><img src="images/06_Deus_Ex_Mankind_Divided.jpg" title="Square Enix" alt=""></li>
                            <li><img src="images/08_Sin_City.jpg" title="Dimension Films" alt=""></li>
                            <li><img src="images/10_Batman_Arkham_Origins.jpg" title="Warner Bros. Interactive Entertainment" alt=""></li>
                            <li><img src="images/15_Assassins_Creed_3.jpg" title="Ubisoft" alt=""></li>
                            <li><img src="images/09_Fantastic_Four.jpg" title="20th Century Fox" alt=""></li>
                            <li><img src="images/02_Watch_Dogs.jpg" title="Ubisoft" alt=""></li>
                        </ul>
                    </div>
                    <br />
                    <br />
                </div>
            </div>
        </div>
        <div class="container-fluid section-highlight" id="section-highlight7">
            <div class="row">
                <p>
                    This is <strong>EXACTLY</strong> what you will get
                    <br /> and where you will be <strong>as a student</strong> in
                    <br /> the <strong>Concept Art Diploma</strong> program at
                    <br />
                    <strong>Syn Studio</strong> in <strong>Montreal, Canada</strong>.
                </p>
                <br />
                <a class="btn btn-primary btn-orange-theme highlight-7-btn" href="concept-art-diploma.html">Learn about our program <img class="white-arrow" src="http://synstudio.ca/wp-content/themes/synStudio4/images/shape_1.png" alt="Arrow" /></a>
            </div>
        </div>
    </div>
    <!-- end MAIN CONTENT -->
    <!-- FOOTER -->
    <div class="footer-container">
        <div class="container-fluid section-footer">
            <div class="row">
                <div class="col-sm-3">
                    <p class="footer-nav-title">Sponsored by</p>
                    <br />
                    <img id="wavecom-logo" src="images/wacom.png" alt="" />
                </div>
                <div class="col-sm-3">
                    <ul class="menu nav-menu-footer">
                        <li>
                            <p class="footer-nav-title">Navigation</p>
                        </li>
                        <li><a href="concept-art.html">Home</a></li>
                        <li><a href="concept-art-diploma.html">Concept Art Diploma</a></li>
                        <li><a href="about-synstudio.html">About Syn Studio</a></li>
                        <li><a href="student-showcase.html">Showcase</a></li>
                        <li><a href="syn-studio-experience.html">Experience Syn Studio</a></li>
                        <li><a href="concept-art-diploma-admission.html">Admission process dates and tuition</a></li>
                    </ul>
                    <br />
                    <br />
                </div>
                <div class="col-sm-3">
                    <div>
                        <p class="footer-nav-title">Newsletter Sign Up</p>
                        <div>
                            <div id="e-mail-signup-container">
                                <form id="mc-embedded-subscribe-form" class="validate" action="http://galeriesynesthesie.us2.list-manage1.com/subscribe/post?u=23c298529438530e62af0db46&amp;id=81438d4583" method="post" name="mc-embedded-subscribe-form">
                                    <input id="email-input" class="email" title="Email" name="EMAIL" required="" type="text" value="" placeholder="  Enter Email Address" />
                                    <div class="clear">
                                        <input class="btn btn-primary btn-grey-theme" id="subscribe-input" title="Submit" name="subscribe" type="submit" value="Subscribe" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="row">
                        <p class="footer-nav-title">Contact Us</p>
                        <div>
                            <p>460 St. Catherine West,</p>
                            <p>#508 Montreal, H3B 1A7</p>
                            <p><img class="contact-icon" src="http://synstudio.ca/wp-content/themes/synStudio4/images/forma_1_2.png" alt="" />&nbsp;&nbsp;info@synstudio.ca</p>
                            <p><img class="contact-icon" src="http://synstudio.ca/wp-content/themes/synStudio4/images/forma_1.png" alt="" />&nbsp;&nbsp;&nbsp;514-998-7625</p>
                        </div>
                    </div>
                    <br class="hidden-xs hidden-sm">
                    <div class="row">
                        <p class="footer-nav-title">Connect with us</p>
                        <div class="nav-social">
                            <ul class="menu social-links-menu-footer">
                                <li>
                                    <a class="social-media-icons" href="https://www.facebook.com/SynStudio/"><img src="images/fb-social-icon-white.png" alt="" /></a>
                                </li>
                                <li>
                                    <a class="social-media-icons" href="https://twitter.com/synstudio"><img src="images/twitter-social-icon-white.png" alt="" /></a>
                                </li>
                                <li>
                                    <a class="social-media-icons" href="http://pinterest.com/synstudio"><img src="images/pintrest-social-icon-white.png" alt="" /></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <br />
                <br />
                <p class=" copyright-text text-left">© Copyright 2016 CGI. All rights reserved.</p>
                <br />
            </div>
        </div>
    </div>
    <script src="js/classie.js"></script>
    <script src="js/main.js"></script>
    <script src="js/jquery.bxslider.min.js"></script>
    <!-- end FOOTER -->
</body>

</html>